altgraph==0.17.2
future==0.18.2
packaging==21.3
pefile==2021.9.3
pip-review==1.1.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pyparsing==3.0.7
PySimpleGUI==4.57.0
python-dotenv==0.19.2
pywin32-ctypes==0.2.0
